.route-access-scrollable-area .fieldset__wrapper {
  overflow: scroll;
  height: 250px;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px !important;
}

#selected-route-name {
  font-style: italic;
  font-weight: bold;
}
